.gradient {
  background: linear-gradient(
    135deg,
    hsl(235deg 19% 16%),
    hsl(210deg 37% 40%),
    hsl(329deg 27% 64%),
    hsl(33deg 74% 71%)
  );
  height: 100vh;
}

.pink {
  /* background: linear-gradient(135deg, #f0f8ff, #b9d9eb, #b0c4de, #5d76a9); */
  background: hsl(264, 58%, 95%);
  height: 100vh;
}
